
@{
    ViewBag.Title = "CustomerBusinessDeclaration";
    var fromdate = DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy");
    var todate = DateTime.Now.ToString("MM/dd/yyyy");
}

<div style="padding: 0 20px 0 20px; margin: auto">
    <div class="row-fluid">
        <div class="span12">
            <div class="span12" style="border-bottom: 1px solid #808080; margin-bottom: 5px">
                <span>Quản lý khách hàng doanh nghiệp   >>   Thông tin chi tiết khác hàng doanh nghiệp</span>
            </div>

            <div class="row-fluid">
                <h5>Công ty Cổ phần truyền thông ABC</h5>
            </div>

            <div class="row-fluid" style="margin-bottom: 20px">
                <a href="@Url.Action("CustomerBusinessInfo","Customer", new { businessId = ViewBag.businesId})" class="btn btn-success" style="padding: 8px 20px 8px 20px;"> Thông tin tài khoản</a>
                <a href="#" class="btn btn-warning" style="padding: 8px 20px 8px 20px;"> Danh sách tờ khai</a>
                <a href="javascript:;" class="btn btn-danger" style="padding: 8px 20px 8px 20px;"> Lịch sử nộp tiền thuế</a>

                @*<a href="javascript:;" class="btn btn-default" style="padding: 8px 20px 8px 20px; float: right"><i class="fa fa-edit"></i> Sửa</a>*@
            </div>

            <div class="content-page-business-info">
                <div class="row-fluid">

                    <div class="span2">
                        <label>Từ ngày</label>
                        <input type="text" class="span12 dDate" value="@fromdate" id="datepickerFromD" name="datepickerFrom" placeholder="Từ ngày" required="">
                    </div>
                    <div class="span2">
                        <label>Đến ngày</label>
                        <div class="input-group date span12">
                            <input type="text" class="span12 dDate" value="@todate" id="datepickerToD" name="datepickerTo" placeholder="Đến ngày" required="">
                        </div>
                    </div>

                    <div class="span2">
                        <label>Số tờ khai</label>
                        <input type="text"  class="span12" id="dclNo"/>
                    </div> 

                    <div class="span2">
                        <label>Loại hình HH</label>
                        <select class="span12" id="grTypeSearch">
                            <option value="">--Chọn loại hình--</option>
                        </select>
                    </div>
                     

                </div>
                <div class="row-fluid">

                    <div class="span2">
                        <label>Phân luồng</label>
                        <select class="span12" id="slinsClsCd">
                            <option value="">--Chưa phân luồng--</option>
                            <option value="1">Luồng Xanh</option>
                            <option value="2">Luồng Đỏ</option>
                            <option value="3">Luồng Vàng</option>
                        </select>
                    </div>

                    <div class="span2">
                        <label>Thông quan</label>
                        <select class="span12" id="slclearanStatus">
                            <option value="">--Tất cả--</option>
                            <option value="-1">Chưa thông quan</option>
                            <option value="1">Thông quan</option>
                            <option value="2">Đợi thông quan</option>
                        </select>
                    </div>

                    <div class="span2">
                        <label>Trạng thái</label>
                        <select class="span12" id="slstatus">
                            <option value="0">--Tất cả--</option>
                            <option value="-1">Hủy tờ khai</option>
                            <option value="1">Tờ khai tạm</option>
                            <option value="2">Tờ khai chính thức</option>
                            <option value="3">Tờ khai sửa</option>
                        </select>
                    </div>

                    <div class="span2">
                        <label>Mã nghiệp vụ</label>
                        <select class="span12" id="slstatus">
                            <option value="0">--Chọn nghiệp vụ--</option>
                            <option value="2">IDA</option>
                            <option value="3">IDB</option>
                            <option value="4">IDC</option>
                            <option value="6">IDD</option>
                            <option value="5">IDA01</option>
                            <option value="7">IDE</option>
                            <option value="8">MIC</option>
                            <option value="9">MID</option>
                            <option value="10">MIE</option>
                            <option value="0">CEA</option>
                        </select>
                    </div>

                    <div class="span4">
                        <div style="margin-top:25px;">
                            <a onclick="Customer.ListDeclarationBusiness(@ViewBag.businesId);" class="btn btn-success"><i class="icon icon-search"></i> Tìm kiếm</a>
                            @*<a onclick="hq.getListDeclaration()" class="btn btn-warning"><i class="icon icon-file"></i> Xuất Excel</a>*@
                        </div>
                    </div>
                </div>

                <div class="box-body" id="dvContent">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-align-justify"></i></span>
                            <h5>Danh sách Tờ Khai nhập khẩu</h5>
                        </div>
                        <div id="divUpdate">
                            <table id="listContainer" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="min-width:100px">STT</th>
                                        <th class="text-center" style="min-width:100px">ID</th>
                                        <th class="text-center" style="min-width:100px">Mã nghiệp vụ</th>
                                        <th class="text-center">Số tờ khai</th>
                                        <th class="text-center">Ngày đăng ký</th>
                                        <th class="text-center">Ủy thác nhập khẩu</th>
                                        <th class="text-center">Loại hình</th>
                                        <th class="text-center">Phân luồng</th>
                                        <th class="text-center">Thông quan</th>
                                        <th class="text-center">CQ Hải quan</th>
                                        <th class="text-center">Ngày thông quan</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="content-table">
                                    <tr>
                                        <td colspan="12" style="text-align:center">
                                            <img width="50" src="~/Content/img/loading.gif" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.dDate').datepicker({
        });

        //Loại hình
        Decla.getGroupType();

        setTimeout(function () {
            Customer.ListDeclarationBusiness(@ViewBag.businesId);
        }, 1500);
    })
</script>