@{
	string currentlink = Request.Url.ToString();
	 
}
<style>
    #sidebar > ul li ul li ul {
        left: 100%;
        top: auto;
        margin-top: -40px;
        /*position: relative;*/
    }

    ul.submenu li.act{
        background-color: #41bedd;
    }
</style>
<div id="sidebar">
    @*<a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i> Home</a>*@
    <ul>
        <li class="treeview @(currentlink.Contains("ListDashboard")?"act":"")">
            <a href="@Url.Action("ListDashboard", "Dashboard")">
                <span><i class="icon icon-home"></i> Home</span>
            </a>
        </li>
        <li class="treeview @(currentlink.Contains("CustomerBusiness")?"act":"") @(currentlink.Contains("CustomerPersonal")?"act":"")">

            <a href="javascript:;">
                <span>Quản lý khách hàng</span>
            </a>

            <ul class="submenu">
                <li class="@(currentlink.Contains("CustomerBusiness")?"act":"")">
                    <a href="@Url.Action("CustomerBusiness", "Customer")">
                        Danh sách khách hàng doanh nghiệp
                    </a>
                </li>
                <li class="@(currentlink.Contains("CustomerPersonal")?"act":"")">
                    <a href="@Url.Action("CustomerPersonal", "Customer")">Danh sách khách hàng cá nhân</a>
                </li>
            </ul>

        </li>
        <li class="treeview @(currentlink.Contains("Declaration") && !currentlink.Contains("OLA") && !currentlink.Contains("ListTransport") && !currentlink.Contains("TransportDeclaration") && !currentlink.Contains("HYS") && !currentlink.Contains("AMA") || currentlink.Contains("ListImportExport") ? "act":"")">
            <a href="javascript:;"><span>Quản lý tờ khai</span></a>

            <ul class="submenu">

                <li class="@(currentlink.Contains("Index")?"act":"")">
                    <a href="@Url.Action("Index", "Declaration")">Danh sách tờ khai nhập khẩu</a>
                </li>

                <li class="li-mic-1 @(currentlink.Contains("LowValueDeInsert")?"act":"")">
                    <a href="@Url.Action("LowValueDeInsert", "Declaration")?ishight=1&tab=1">
                        Đăng ký tờ khai nhập khẩu GTT (MIC)
                    </a>
                </li>
                <li class="li-ida-1 @(currentlink.Contains("HightValueDeInsert")?"act":"")">
                    <a href="@Url.Action("HightValueDeInsert", "Declaration")?ishight=2&tab=1">Khai thông tin nhập khẩu (IDA)</a>
                </li>

                <li class="@(currentlink.Contains("ExportDeclaration") && currentlink.Contains("ListDeclaration") ?"act":"")">
                    <a href="@Url.Action("ListDeclaration", "ExportDeclaration")">Danh sách tờ khai xuất khẩu</a>
                </li>

                <li class="@(currentlink.Contains("ResultMEC") || currentlink.Contains("MEC_InsertUpdate")?"act":"")">
                    <a href="@Url.Action("MEC_InsertUpdate", "ExportDeclaration")?ishight=3&tab=1">
                        Đăng ký tờ khai xuất khẩu GTT (MEC)
                    </a>
                </li>
                <li class="@(currentlink.Contains("ExportDeclaration") && currentlink.Contains("EDA_InsertUpdate")?"act":"")">
                    <a href="@Url.Action("EDA_InsertUpdate", "ExportDeclaration")?ishight=4&tab=1">Khai thông tin xuất khẩu (EDA)</a>
                </li>
				<li class="@(currentlink.Contains("ListImportExport") ? "act" : "")">
					<a href="@Url.Action("ListImportExport", "ExpImpData")">Import dữ liệu </a>
				</li>
            </ul>
        </li>
        <li class="treeview @(currentlink.Contains("HYS") || currentlink.Contains("AMA")?"act":"")">
            <a href="javascript:;"><span>Quản lý Nghiệp vụ khác</span></a>

            <ul class="submenu">

                <li class="@(currentlink.Contains("InsertHYS") || currentlink.Contains("HYE") || currentlink.Contains("ResultsHYS") || currentlink.Contains("ResultsHYE") ? "act":"")">
                    <a href="@Url.Action("InsertHYS", "HYS")?ishight=5&tab=1">Khai báo đính kèm điện tử HYS</a>
                </li>

                <li class="@(currentlink.Contains("HYS") && currentlink.Contains("ListHYS") ?"act":"")">
                    <a href="@Url.Action("ListHYS", "HYS")">
                        Danh sách file đính kèm
                    </a>
                </li>

                <li class="@(currentlink.Contains("InsertUpdateAMA") || currentlink.Contains("ResultAMA") ? "act":"")">
                    <a href="@Url.Action("InsertUpdateAMA", "AMA")?ishight=6&tab=1">Khai thông tin sửa đổi AMA</a>
                </li>
                <li class="@(currentlink.Contains("ListAMA") ? "act":"")">
                    <a href="@Url.Action("ListAMA", "AMA")">Danh sách tờ khai sửa thuế</a>
                </li>
                <li class="@(currentlink.Contains("ElectronicVoucher") ? "act":"")">
                    <a href="@Url.Action("ListVoucherSearch", "ElectronicVoucher")">Danh sách chứng từ điện tử TT39</a>
                </li>
                <li class="@(currentlink.Contains("ElectronicVoucher") ? "act":"")">
                    <a href="@Url.Action("GetListVoucherByDecl", "ElectronicVoucher")">Khai báo chứng từ điện tử</a>
                </li>
            </ul>
        </li>
       
        <li class="treeview  @(currentlink.Contains("TransportDeclaration") ? "act" : "")">
            <a href="javascript:;"><span>Quản lý TK vận chuyển</span></a>
            <ul class="submenu">
                <li class="@(currentlink.Contains("OLA")?"act":"")">
                    <a href="@Url.Action("OLA","TransportDeclaration")?ishight=7&tab=1">
                        Đăng ký tờ khai vận chuyển (OLA)
                    </a>
                </li>
                <li class="@(currentlink.Contains("ListTransport")?"act":"")">
                    <a href="@Url.Action("ListTransport","TransportDeclaration")">
                        Danh sách tờ khai vận chuyển
                    </a>
                </li>
            </ul>

        </li>

        <li class="treeview @(currentlink.Contains("AccInfo") || currentlink.Contains("InfoBusiness")?"act":"")">

            <a href="javascript:;">
                <span>Quản lý tài khoản</span>
            </a>

			<ul class="submenu">
				<li class="@(currentlink.Contains("InfoBusiness")?"act":"")">
					<a href="@Url.Action("InfoBusiness", "Account")">
						Thông tin doanh nghiệp
					</a>
				</li>
				<li class="@(currentlink.Contains("AccInfo")?"act":"")">
					<a href="@Url.Action("AccInfo", "Account")">
						Thông tin cá nhân
					</a>
				</li>

				<li class="">
					<a href="javascript:;" onclick="UserAgen.PopSecurity()">
						Đặt mã bảo mật
					</a>
				</li>

			</ul>

        </li>

        <li class="treeview @(currentlink.Contains("Registry")?"act":"")">
            <a href="#"><span>Quản lý trình ký</span></a>

            <ul class="submenu">
                <li class="@(currentlink.Contains("ListDecleration")?"act":"")">
                    <a href="@Url.Action("ListDecleration", "Registry")">
                        Danh sách tờ khai trình ký
                    </a>
                </li>
                <li class="@(currentlink.Contains("ListAccRegistry")?"act":"")">
                    <a href="@Url.Action("ListAccRegistry", "Registry")">Thiết lập tài khoản được trình ký</a>
                </li>
                <li class="@(currentlink.Contains("ReviewRegistry")?"act":"")">
                    <a href="@Url.Action("ReviewRegistry", "Registry")">Duyệt trình ký</a>
                </li>
                <li class="@(currentlink.Contains("ListRegNumber")?"act":"")">
                    <a href="@Url.Action("ListRegNumber", "Registry")">Danh sách chữ ký số</a>
                </li>
            </ul>
        </li>

        <li class="treeview @(currentlink.Contains("ListUser") || currentlink.Contains("ListManagerRights") || currentlink.Contains("System") || currentlink.Contains("setup-vnaccs") ? "act":"")">
            <a href="#"><span>Quản lý hệ thống</span></a>

			<ul class="submenu">
				<li class="@(currentlink.Contains("setup-vnaccs") || currentlink.Contains("Signature")?"act":"")">
					<a href="@Url.Action("SetupVNACCS","System")">
						Thiết lập thông tin số mặc định VNACCS
					</a>
				</li>
				<li class="@(currentlink.Contains("ListUser")?"act":"")">
					<a href="@Url.Action("ListUser", "User")">Quản lý người sử dụng</a>
				</li>
				<li class="@(currentlink.Contains("ListManagerRights")?"act":"")">
					<a href="@Url.Action("ListManagerRights", "User")">Danh sách quyền</a>
				</li>
				<li class="@(currentlink.Contains("ReportSystem")?"act":"")">
					<a href="@Url.Action("ReportSystem", "System")">Hệ thống báo cáo</a>
				</li>
			</ul>
        </li>

        <li id="isExpress" class="treeview @(currentlink.Contains("Scanner")?"act":"")" style="display: none">
            <a href="javascript:;"><span>Soi chiếu hàng hóa</span></a>

            <ul class="submenu">
                <li class="@(currentlink.Contains("PopRegisScanner")?"act":"")">
                    <a href="@Url.Action("PopRegisScanner","Scanner")">
                        Đăng ký soi chiếu
                    </a>
                </li>
                <li class="@(currentlink.Contains("ListScanner")?"act":"")">
                    <a href="@Url.Action("ListScanner","Scanner")">
                        Danh sách soi chiếu
                    </a>
                </li>
                <li style="background-color: #808080">
                    <a href="javascript:;">
                        Thanh toán
                    </a>
                </li>
                <li class="@(currentlink.Contains("ListInfoPayment")?"act":"")">
                    <a href="@Url.Action("ListInfoPayment", "Scanner")">
                        >> Thông tin thanh toán
                    </a>
                </li>
                <li class="@(currentlink.Contains("ListBillPayment") || currentlink.Contains("BillPaymentDetail")?"act":"")">
                    <a href="@Url.Action("ListBillPayment", "Scanner")">
                        >> Danh sách phiếu thanh toán
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>
<script>
	$(document).ready(function () {
		var isExpress = utils.getCookie("isExpress");
		if (isExpress == "1")
			$("#isExpress").show();
	});
</script>