@{
    ViewBag.Title = "Declaration_Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="#" enctype="multipart/form-data" id="form-input-file" name="form-input-file">
    <div class="row-fluid">
        <div class="span12">
            <h4><a href="@Url.Action("Declaration_List", "Declaration")">Danh sách Tờ khai</a> >> Tạo Tờ Khai:</h4>
            <a class="btn btn-warning" id="btnTab2" >Thông tin chung</a>
            <a class="btn btn-success">Danh sách hàng GTC</a>
            <a class="btn btn-success">Chỉ thị của hải quan</a>
            <a class="btn btn-success">Kết quả xử lý tờ khai GTC</a>
            <a href="@Url.Action("Declaration_List", "Declaration")" class="btn btn-warning" style="float:right; margin: 0px 0px;"><i class="icon icon-book"></i> << Danh sách tờ khai </a>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Thông Tin chung</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Số Tờ khai: </label>
                                    <div class="controls">
                                        @if ((int)ViewBag.declarationID > 0)
                                        {
                                            <b style="line-height: 30px;" id="txtDeclaration">@ViewBag.declarationID</b>
                                            <input type="hidden" class="span5" id="hdfDeclarationID" name="hdfDeclarationID" value="@ViewBag.declarationID" />
                                        }
                                        else
                                        {
                                            <input type="text" class="span5" id="txtD_code" name="txtD_code" />
                                        }
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Số Tờ khai đầu tiên: </label>
                                    <div class="controls">
                                        <input type="text" class="span5" id="txtD_code2" name="txtD_code2" /> <button type="button" style="padding: 0 10px" onclick="hq.getSeachDeclaration()">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã loại hình:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfCodeType" name="hdfCodeType" class="span6" />
                                        <input type="text" id="txtCodeType" name="txtCodeType" class="span3" disabled />
                                        <input type="text" id="txtType_text" name="txtType_text" class="span7" onclick="hq.getSeachMethod()" onchange="hq.getSeachMethod(); $('#hdfCodeType,#txtCodeType,#txtType_text').val('');" />
                                        @*<select id="slType" name="slType" class="span6" onchange="hq.MethodOnChange()" required>
            <option value="">--Chọn loại hình--</option>
        </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachMethod()">...</button>
                                    </div>
                                </div>

                                <div class="control-group span12">
                                    <label class="control-label">Cơ quan hải quan:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfCodeCustom" name="hdfCodeCustom" />
                                        <input type="text" id="txtCodeCustom" name="txtCodeCustom" class="span3" disabled="disabled" />
                                        <input type="text" id="txtCodeCustom_text" name="txtCodeCustom_text" class="span7" onclick="hq.getSeachCustom()" onchange="hq.getSeachCustom(); $('#hdfCodeCustom,#txtCodeCustom_text').val('');" />
                                        @*<select id="slCustom" name="slCustom" class="span6" onchange="hq.CustomsOnChange();" required>
            <option value="">--Chọn--</option>
        </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachCustom()">...</button>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Số tờ khai tạm xuất tái nhập tương ứng:</label>
                                    <div class="controls">
                                        <input type="text" id="txttempDeclarId" name="txttempDeclarId" class="span6" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phân loại cá nhân tổ chức:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <select id="slorgnzTypeId" name="slorgnzTypeId" class="span6" required>
                                            <option value="">--Chọn--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã phương thức vận chuyển:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <select id="slTransportMethod" name="slTransportMethod" class="span11">
                                            <option value="">--Chọn--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="row-fluid" style="display:none">
                            <div class="span12">
                                <div class="control-group span12">
                                    <label class="control-label">Văn Bản Liên Quan : </label>
                                    <div class="controls">
                                        <input name="file" type="file" id="file-input-docs" />
                                        <input type="hidden" id="dataFileDocsInput" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Thông tin mua hàng Thương mại điện tử xuyên biên giới</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <h5 style="margin-left:10px;">NGƯỜI KHAI</h5>
                                <div class="control-group span12">
                                    <label class="control-label">CMND: </label>
                                    <div class="controls">
                                        <input type="text" class="span8" id="txtCMND" name="txtCMND" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Họ và tên: </label>
                                    <div class="controls">
                                        <input type="text" class="span8" id="txtFullName" name="txtFullName" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Số điện thoại: </label>
                                    <div class="controls">
                                        <input type="text" id="txtPhone" name="txtPhone" class="span8" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa chỉ: </label>
                                    <div class="controls">
                                        <input type="text" id="txtAddress" name="txtAddress" class="span12" />
                                    </div>
                                </div>
                                <h5 style="margin:10px 0 0 10px; float:left">NGƯỜI ĐƯỢC ỦY THÁC</h5>
                                <div class="control-group span12">
                                    <label class="control-label">Mã số: </label>
                                    <div class="controls">
                                        <input type="text" class="span5" id="txtCode2" name="txtCode2" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Họ và tên: </label>
                                    <div class="controls">
                                        <input type="text" class="span5" id="txtFullName2" name="txtFullName2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Nơi mua hàng</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group span12">
                                    <label class="control-label">Website: <span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="text" class="span12" id="txtWebsite" name="txtWebsite" required />
                                        <span id="errWeb" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa chỉ: </label>
                                    <div class="controls">
                                        <input type="text" class="span12" id="txtAddress2" name="txtAddress2" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã nước: <span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfCodeCountry" name="hdfCodeCountry" class="span3" />
                                        <input type="text" id="txtCodeCountry" name="txtCodeCountry" class="span3" disabled="disabled" />
                                        <input type="text" id="txtCodeCountry_text" name="txtCodeCountry_text" class="span7" onclick="hq.getSeachCountry()" onchange="hq.getSeachCountry(); $('#hdfCodeCountry,#txtCodeCountry_text').val('');" />

                                        @*<select id="slCodeCountry" name="slCodeCountry" class="span6" onchange="hq.countryOnChange()">
                <option value="">--Chọn Nước--</option>
            </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachCountry()">...</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Số Vận đơn<span class="error">(*)</span></h5>
                </div>
                <div class="widget-content nopadding">
                    @*fix_hgt_tbl_add*@
                        <table class="table table-bordered" id="tbl_container_add">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <input type="text" class="span8" id="txtBill1" name="txtBill1" placeholder="Vận đơn 1" required />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="span8" id="txtBill2" name="txtBill2" placeholder="Vận đơn 2" />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="span8" id="txtBill3" name="txtBill3" placeholder="Vận đơn 3" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <input type="text" class="span8" id="txtBill4" name="txtBill4" placeholder="Vận đơn 4" />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="span8" id="txtBill5" name="txtBill5" placeholder="Vận đơn 5" />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="span8" id="txtBill6" name="txtBill6" placeholder="Vận đơn 6" />
                                    </td>
                                </tr>
                                @*@{
                                    for (int i = 0; i < 30; i++)
                                    {
                                        <tr>
                                            <td class="text-center"> @(i + 1)</td>
                                            <td class="text-center">
                                                <input @(i == 0 ? "" : "disabled") type="text" data-stt="@(i)" onkeyup="hq.KeyPressTextboxBill(this);" class="form-control span8" id="txtWaybill@(i)" name="txtWaybill@(i)">
                                            </td>
                                            <td class="text-center" style="position:relative">
                                                <input @(i == 0 ? "" : "disabled") type="text" data-stt="@(i)" onchange="hq.KeyPressTextboxBill(this);" class="form-control span8 dDate" id="txtDateWaybill@(i)" name="txtDateWaybill@(i)">
                                            </td>
                                            <td class="text-center">
                                                <input @(i == 0 ? "" : "disabled") type="text" data-stt="@(i)" onkeyup="hq.KeyPressTextboxBill(this);" class="form-control span8" id="txtHAWB@(i)" name="txtHAWB@(i)">
                                            </td>
                                            <td class="text-center">
                                                <input @(i == 0 ? "" : "disabled") type="text" data-stt="@(i)" onkeyup="hq.KeyPressTextboxBill(this);" class="form-control span8" id="txtMAWB@(i)" name="txtMAWB@(i)">
                                            </td>
                                        </tr>
                                    }
                                }*@
                            </tbody>
                        </table>

                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="control-group span12">
                                <label class="control-label">Mã địa điểm lưu kho hàng chờ thông quan dự kiến:<span class="error">(*)</span></label>
                                <div class="controls">
                                    <input type="hidden" id="hdfwaitStgPlcCode" name="hdfwaitStgPlcCode" class="span6" />
                                    <input type="text" id="txtwaitStgPlcCode" name="txtwaitStgPlcCode" class="span3" disabled="disabled" />
                                    <input type="text" id="txtwaitStgPlcCode_text" name="txtwaitStgPlcCode_text" class="span7" onclick="hq.getSeachUnwaitStgPlcCode()" onchange="hq.getSeachUnwaitStgPlcCode(); $('#hdfwaitStgPlcCode,#txtwaitStgPlcCode_text').val('');" />
                                    @*<select id="slwaitStgPlcCode" name="slwaitStgPlcCode" class="span6" onchange="hq.WaitingPlaceOnChange();">
                <option value="">--Chọn địa điểm--</option>
            </select>*@
                                    <button type="button" style="padding: 0 10px" onclick="hq.getSeachUnwaitStgPlcCode()">...</button>
                                </div>
                            </div>
                            <div class="span6" style="margin:0">
                                <div class="control-group span12">
                                    <label class="control-label">Số lượng kiện:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfTypeSeal" name="hdfTypeSeal" class="span3"  />
                                        <input type="text" id="txtnumberSeal" name="txtnumberSeal" class="span3" required />
                                        <span>
                                            <input type="text" id="txtnumberSeal_text" name="txtnumberSeal_text" class="span7" required onclick="hq.getSeachSealUnit()" onchange="hq.getSeachSealUnit();$('#txtnumberSeal_text,#hdfTypeSeal').val('');" />
                                        </span>
                                        @*<select id="slTypeSeal" name="slTypeSeal" class="span7" required>
                <option value="">--Chọn--</option>
            </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachSealUnit()">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phương tiện vận chuyển: <span class="error">(*)</span></label>
                                    <div class="controls">

                                        <input type="hidden" id="hdfTransport" name="hdfTransport" class="span3" />
                                        <input type="text" id="txtTransport" name="txtTransport" class="span3" disabled="disabled" />
                                        <input type="text" id="txtTransport_text" name="txtTransport_text" class="span7" onclick="hq.getSearchTransportation()" onchange="hq.getSearchTransportation(); $('#hdfTypeSeal,#txtnumberSeal_text').val('');" />

                                        @*<select id="slTransport" name="slTransport" class="span6" required>
            <option value="">--Chọn--</option>
        </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSearchTransportation()">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa điểm xếp hàng:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfPlace" name="hdfPlace" class="span6" />
                                        <input type="text" id="txtPlace" name="txtPlace" class="span3" disabled="disabled" />
                                        <input type="text" id="txtPlace_text" name="txtPlace_text" class="span7" onclick="hq.getSeachPlace()" onchange="hq.getSeachPlace(); $('#hdfPlace,#txtPlace_text').val('');" />
                                        @*<select id="slPlace" name="slPlace" class="span6" onchange="hq.PlaceLoadingOnChange();"  required>
                <option value="">--Chọn địa điểm--</option>
            </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachPlace()">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa điểm dỡ hàng:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfPlace2" name="hdfPlace2" class="span7" />
                                        <input type="text" id="txtPlace2" name="txtPlace2" class="span3" disabled="disabled" />
                                        <input type="text" id="txtPlace2_text" name="txtPlace2_text" class="span7" onclick="hq.getSeachUnPlace()" onchange="hq.getSeachUnPlace(); $('#txtPlace2,#hdfPlace2').val('');" />
                                        @*<select id="slPlace2" name="slPlace2" class="span6" onchange="hq.PlaceUnLoadingOnChange();">
                <option value="">--Chọn địa điểm--</option>
            </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachUnPlace()">...</button>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Tổng trọng lượng hàng (Gross):<span class="error">(*)</span> </label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfweightUnitCode" name="hdfweightUnitCode" class="span3" />
                                        <input type="text" id="txttotalWeight" name="txttotalWeight" class="span3" required />
                                        <input type="text" id="txtweightUnitCode" name="txtweightUnitCode" class="span7" onclick="hq.getSeachWeightUnit()" onchange="hq.getSeachWeightUnit(); $('#txtweightUnitCode,#hdfweightUnitCode').val('');" required />
                                        @*<select id="slweightUnitCode" name="slweightUnitCode" class="span6">
            <option value="">--Chọn--</option>
        </select>*@
                                        <button type="button" style="padding: 0 10px" onclick="hq.getSeachWeightUnit()">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Ngày hàng đến: <span class="error">(*)</span></label>
                                    <div class="controls" style="position:relative;">
                                        <input type="text" id="txtDateOfArrival" name="txtDateOfArrival" class="span5 dDate" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Hóa đơn và thông tin đính kèm</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Số hóa đơn: </label>
                                    <div class="controls">
                                        <input type="text" class="span8" id="txtBills" name="txtBills" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phương thức thanh toán: </label>
                                    <div class="controls">
                                        <select id="slPayment" name="slPayment" class="span8"></select>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Tổng giá trị hóa đơn: <span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="text" id="txtTotalBill" name="txtTotalBill" class="span8" required />
                                    </div>
                                </div>

                                <div class="control-group span12">
                                    <label class="control-label"><b>Thông tin đính kèm:</b></label>
                                    <div class="controls">
                                        <select id="slTypeFile1" name="slTypeFile1" class="span8">
                                            <option value="1">Hóa đơn</option>
                                            <option value="2">Chi tiết bảo hiểm</option>
                                            <option value="3">Tất cả các loại hồ sơ</option>
                                            <option value="4">Loại khác</option>
                                        </select>
                                        <input type="file" id="file1" name="file1" class="span8" />

                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <div class="controls" id="divListFile">

                                    </div>
                                </div>
                                </div>
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Ngày phát hành: </label>
                                    <div class="controls" style="position:relative;">
                                        <input type="text" class="span8 dDate" id="txtReleaseDate" name="txtReleaseDate" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">&nbsp; </label>
                                    <div class="controls">
                                        <p> &nbsp;</p>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã đồng tiền của hóa đơn: <span class="error">(*)</span></label>
                                    <div class="controls">
                                        <select id="slCoinCode" name="slCoinCode" class="span8">
                                            <option value="">--Chọn--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group span12">
                                    <label class="control-label"><b>Thông tin đính kèm:</b></label>
                                    <div class="controls">
                                        <select id="slTypeFile2" name="slTypeFile2" class="span8">
                                            <option value="1">Hóa đơn</option>
                                            <option value="2">Chi tiết bảo hiểm</option>
                                            <option value="3">Tất cả các loại hồ sơ</option>
                                            <option value="4">Loại khác</option>
                                        </select>
                                        <input type="file" id="file2" name="file2" class="span8" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdfStatus" name="hdfStatus" value="1" />
            </div>
            <div class="form-actions" style="text-align: center;">
                <button type="submit" class="btn btn-success" id="btnSaveDeclaration" style="display:none"></button>

                <a class="btn btn-warning" onclick="hq.CheckSubmitDeclaration(0)">LƯU NHÁP</a>
                <a class="btn btn-success" onclick="hq.CheckSubmitDeclaration(1)">LƯU TỜ KHAI</a>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form-input-file").validate({
            rules: {
                slType: "required",
                slCustom: "required",
                slTransport: "required",
                txtWebsite: "required",
                slCodeCountry: "required",
                txtNumber: "required",
                slTypeNumber: "required",
                slPlace2: "required",
                txtDateOfArrival: "required",
                txtTotalBill: "required", 
                slCoinCode: "required", 
                txtBill1: "required", 
                slorgnzTypeId: "required",
                txtGross: "required", 
                slGross: "required", 
                slPlace: "required",
                slwaitStgPlcCode: "required",
            },
            messages: {
                slType: "",
                slCustom: "",
                slTransport: "",
                txtWebsite: "",
                slCodeCountry: "",
                txtNumber: "",
                slPlace2: "",
                txtDateOfArrival: "",
                txtTotalBill: "",
                slTypeNumber: "",
                slCoinCode: "",
                txtBill1: "",
                slorgnzTypeId: "",
                txtGross: "",
                slGross: "",
                slPlace: "",
                slwaitStgPlcCode: "",
            },
            submitHandler: function (form) {
                if (hq.CheckUrl($('#txtWebsite').val()))
                    hq.confirmInsertDeclaration();
                else
                {
                    $('#txtWebsite').addClass("error");
                    $('#errWeb').html("Link website không đúng định dạng!");
                    $('body,html').animate({ scrollTop: 800 }, 1000);
                }
            }
        });

        $('.dDate').datetimepicker({
            showTodayButton: false,
            format: 'MM/DD/YYYY'
        }).on('dp.change', function (t) {
            hq.KeyPressTextboxBill(t);
        });

        //Phương thức thành toán
        hq.getMethodPaid();
        //Lấy danh sách phương thức vận chuyển
        hq.getVehicleMethod();
        //Danh sách loại tiền
        hq.getCurrency();
        // Phương tiện vận chuyển
        hq.getTransportMethod();
        // Phân loại cá nhân tổ chức
        hq.getOrganizationType();
        // Mã địa điểm lưu kho hàng chờ thông quan dự kiến
        hq.getWaitingPlace();

        var decID = "@(ViewBag.declarationID)";
        if (parseInt(decID) != 0)
        {
            hq.getDeclarationDetail();
        }
        else
        {
            hq.GetAccountInfo();
        }
    })
</script>