
@{
    ViewBag.Title = "IEXDeclaration";
    Layout = "~/Views/Shared/_LayoutDeclaration.cshtml";
}

<div id="app">
    <div class="row-fluid">
        <div class="span12" id="divBtn">
            <h4>Xem thông tin tờ khai Hải quan Xuất khẩu</h4>
            <a href="javascript:;" v-on:click="showTab(1)" v-bind:class="{'btn-success': tabDecla == 1}" class="btn">Thông tin chung</a>
            <a href="javascript:;" v-on:click="showTab(2)" v-bind:class="{'btn-success': tabDecla == 2}" class="btn">Thông tin Container</a>
            <a href="javascript:;" v-on:click="showTab(3)" v-bind:class="{'btn-success': tabDecla == 3}" class="btn">Danh sách hàng</a>
            <a onclick="Export.LinktoCT(2);" class="btn">Chỉ thị của hải quan</a>
            <a href="javascript:;" v-on:click="ViewResult(@ViewBag.tab)" v-bind:class="{'btn-success': tabDecla == 5}" class="btn">Kết quả xử lý tờ khai</a>
            <a id="linkManagerVoucher" v-show="data.dclNo" data-idDec="@ViewBag.IdDec" v-bind:data-dclNo="data.dclNo" data-controler="ElectronicVoucher" data-action="ListVoucherCustom" href="#" class="btn">Quản lý chứng từ điện tử</a>
        </div>
    </div>
    <div class="row-fluid">

        <div class="row-fluid" style="margin-top: 20px">
            <div class="span12">
                <div v-show="data.dclNo">
                    <div class="span4">
                        <label class="control-label span3">Số Tờ khai:</label>
                        <div class="controls">
                            <span style="color: blue">{{data.dclNo}}</span>
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label span3">Phân luồng:</label>

                        <div class="controls">
                            {{stream}}
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label span3">Thông quan: </label>
                        <div class="controls" v-if="data.dateOfPermit">
                            Thông quan
                        </div>
                        <div class="controls" v-else>
                            Chưa thông quan
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divTab1" v-show="tabDecla == 1">
            @Html.Action("IEX_Info", "ExportDeclaration", new { decId = ViewBag.decId })
        </div>

        <div id="divTab2" style="display: none" v-show="tabDecla == 2">
            @Html.Action("EDA_Container", "ExportDeclaration", new { decId = ViewBag.decId })
        </div>

        <div id="divTab3" style="display: none" v-show="tabDecla == 3">
            @Html.Action("ListProduct", "ExportDeclaration", new { Id = ViewBag.decId })
        </div>

        <div id="divTab5" style="display: none" v-show="tabDecla == 5">
            @Html.Action("TabResultXLTK", "ExportDeclaration", new { decId = ViewBag.decId })
        </div>
    </div>

    <div v-show="showPop || showPopObject" style="width: 100%; height: 100%; left: 0; top: 0; position: fixed; z-index: 12; background-color: black; opacity: 0.6; display: none"></div>
    <div v-show="showPop" style="top: 50%; left: 50%; position: fixed; z-index: 15; transform: translate(-50%, -50%);width: 85%; display: none">
        @Html.Action("PopSearch", "ExportDeclaration")
    </div>
    <div v-show="showPopObject" style="top: 50%; left: 50%; position: fixed; z-index: 15; transform: translate(-50%, -50%);width: 85%; display: none">
        @Html.Action("PopSelectObject", "ExportDeclaration")
    </div>

</div>
<input type="hidden" class="span5" id="dclId" name="dclId" value="@ViewBag.decId" />
<script src="~/Content/js/export-decla/eda-onload.trinhky.js"></script>
<script src="~/Content/js/export-decla/eda-declaration.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            var linkManagerVoucher = Config.Url_Root + $("#linkManagerVoucher").attr("data-controler") + "/" + $("#linkManagerVoucher").attr("data-action") + "?idDec=" + $("#linkManagerVoucher").attr("data-idDec") + "&type=2&tab=1&ishight=2&dclNo=" + $("#linkManagerVoucher").attr("data-dclNo");
            $("#linkManagerVoucher").attr("href", linkManagerVoucher);
        }, 500)

    });
</script>

