
@{
    ViewBag.Title = "LowValueDeclarationDetail";
    Layout = "~/Views/Shared/_LayoutDeclaration.cshtml";
}

<form action="#" enctype="multipart/form-data" id="form-input-file" name="form-input-file">
    <div class="row-fluid">
        <div class="span12">
            <h4><a href="javascript:;">Tờ khai nhập khẩu giá trị thấp</a> >> Đăng ký mới tờ khai:</h4>
            <a class="btn btn-warning" id="btnTab2"> Tờ khai </a>
            <a  class="btn btn-success">Kết quả xử lý tờ khai</a>

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Thông Tin chung</h5>
                </div>
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group span12">
                                    <div class="span3">
                                        <label class="control-label">Phần luồng: </label>
                                        <div class="controls" style="color: blue">
                                            Chưa phân luồng
                                        </div>
                                    </div>

                                    <div class="span4">
                                        <label class="control-label">Thông quan: </label>
                                        <div class="controls" style="color: blue">
                                            Chưa chưa thông quan
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">

                                <div class="control-group span12">
                                    <label class="control-label">Mã Tờ khai: </label>
                                    <div class="controls">
                                        @*@if ((int)ViewBag.IdDec > 0)
                                        {
                                            <b style="line-height: 30px;" id="txtDeclaration">@ViewBag.IdDec</b>
                                            <input style="width:350px" type="hidden" class="span5" id="hdfdclNo" name="hdfdclNo" value="@ViewBag.IdDec" />
                                            <input type="hidden" class="span5" id="dclNoHQ" name="dclNoHQ" />
                                        }
                                        else
                                        {
                                            <input style="width:350px" type="text" class="span5" id="txtdclNo" name="txtdclNo" />
                                        }*@
                                        <input style="width:350px" type="hidden" class="span5" id="hdfdclNo" name="hdfdclNo" value="@ViewBag.IdDec" />
                                        <input style="width:350px" type="text" class="span5" id="txtdclNo" name="txtdclNo" disabled />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phân loại cá nhân tổ chức:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <select id="slclsOrg" name="slclsOrg" class="span11" required>
                                            <option value="">--Chọn--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Cơ quan hải quan:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfcstOffice" name="hdfcstOffice" />
                                        <input type="text" id="txtcstOffice" name="txtcstOffice" class="span3" disabled="disabled" />
                                        <input type="text" id="txtcstOfficeNm" name="txtcstOfficeNm" class="span7" onclick="DePop.PopCustom()" autocomplete="off" required />
                                        <button type="button" style="padding: 0 10px" onclick="DePop.PopCustom()">...</button>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group span12" style="margin-top:19%">
                                    <label class="control-label">Mã bộ phận xử lý tờ khai:</label>
                                    <div class="controls">
                                        <select id="slcstSubSection" name="slcstSubSection" class="span11">
                                            <option value="">--Chọn--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" style="display:none">
                            <div class="span12">
                                <div class="control-group span12">
                                    <label class="control-label">Văn Bản Liên Quan : </label>
                                    <div class="controls">
                                        <input name="file" type="file" id="file-input-docs" />
                                        <input type="hidden" id="dataFileDocsInput" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <!--<div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Thông tin Xuất nhập khẩu:</h5>
                </div>
                    -->
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <h5 style="margin-left:10px;">NGƯỜI NHẬP KHẨU</h5>
                                <div class="control-group span12">
                                    <label class="control-label">Mã: </label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="txtimperCd" name="txtimperCd" maxlength="13" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Tên: </label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtimperNm" name="txtimperNm" maxlength="100" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã bưu chính: </label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="txtpostcode" name="txtpostcode" maxlength="7" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Điện thoại: </label>
                                    <div class="controls">
                                        <input type="text" id="txtphoneNoOfImp" name="txtphoneNoOfImp" class="span6" maxlength="20" required />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa chỉ: </label>
                                    <div class="controls">
                                        <input style="max-width:700px; width:700px" type="text" id="txtaddressOfImp" name="txtaddressOfImp" class="span11" maxlength="100" />
                                    </div>
                                </div>
                                <h5 style="margin:10px 0 0 10px; float:left">NGƯỜI XUẤT KHẨU</h5>
                                <div class="control-group span12">
                                    <label class="control-label">Mã: </label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="txtconsignorCd" name="txtconsignorCd" maxlength="13" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Tên:</label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtconsignorNm" name="txtconsignorNm" maxlength="70" onkeyup="$('#txtconsignorNm').val(Decla.ConvertVietNamese($('#txtconsignorNm').val()));" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã bưu chính: </label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="txtpostcodeIdt" name="txtpostcodeIdt" maxlength="9" />
                                    </div>
                                </div>

                                <div class="control-group span12">
                                    <label class="control-label">Mã nước: </label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfcountryCd" name="hdfcountryCd" class="span3" value="" />
                                        <input type="text" id="txthdfcountryCd" name="txthdfcountryCd" class="span3" disabled="disabled" />
                                        <button type="button" style="padding: 0 10px" onclick="DePop.PopCountryGTT(1)">...</button>
                                    </div>

                                </div>

                                <div class="control-group span12">
                                    <label class="control-label">Địa chỉ: </label>
                                    <div class="controls">
                                        <p>
                                            <input type="text" class="span6" style="text-transform: uppercase" id="txtaddress1Street" name="txtaddress1Street" maxlength="35" onkeyup="$('#txtaddress1Street').val(Decla.ConvertVietNamese($('#txtaddress1Street').val()));" />
                                            <input type="text" class="span6" style="text-transform: uppercase" id="txtaddress2Street" name="txtaddress2Street" maxlength="35" onkeyup="$('#txtaddress2Street').val(Decla.ConvertVietNamese($('#txtaddress2Street').val()));" />
                                        </p>
                                        <p>
                                            <input type="text" class="span6" id="txtaddress3CityNm" style="text-transform: uppercase" name="txtaddress3CityNm" maxlength="35" onkeyup="$('#txtaddress3CityNm').val(Decla.ConvertVietNamese($('#txtaddress3CityNm').val()));" />
                                            <input type="text" class="span6" id="txtcountryNmAddress" style="text-transform: uppercase" name="txtcountryNmAddress" maxlength="35" onkeyup="$('#txtcountryNmAddress').val(Decla.ConvertVietNamese($('#txtcountryNmAddress').val()));" />
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Số House AWB:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input style="width:350px" type="text" class="span8" id="txthouseAwbNo" name="txthouseAwbNo" required maxlength="18" onkeyup="$('#txthouseAwbNo').val(Decla.ConvertVietNamese($('#txthouseAwbNo').val()));" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Số lượng kiện:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfpieceUnitCd" name="hdfpieceUnitCd" class="span3" />
                                        <input type="number" min="0" id="txtcargoPiece" name="txtcargoPiece" class="span10" required maxlength="8" />
                                        <span>
                                            Gói
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã địa điểm lưu kho hàng chờ thông quan dự kiến:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfcstWrhCd" name="hdfcstWrhCd" class="span6" />
                                        <input type="text" id="txtcstWrhCd" name="txtcstWrhCd" class="span3" disabled="disabled" />
                                        <input type="text" id="txtcstWrhCd_text" name="txtcstWrhCd_text" class="span7" onclick="DePop.PopWareHouse()" autocomplete="off" required />
                                        <button type="button" style="padding: 0 10px" onclick="DePop.PopWareHouse()">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Tên máy bay chở hàng: </label>
                                    <div class="controls">
                                        <input style="width:350px" type="text" class="span8" id="txtflightNo" name="txtflightNo" maxlength="35" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa điểm dỡ hàng:<span class="error">(*)</span> </label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfunloadPortCd" name="hdfunloadPortCd" class="span7" />
                                        <input type="text" id="txtunloadPortCd" name="txtunloadPortCd" class="span3" disabled="disabled" />
                                        <input type="text" id="txtunloadPortNm" name="txtunloadPortNm" class="span7" onclick="DePop.PopUnplace()" autocomplete="off" required />
                                        <button type="button" style="padding: 0 10px" onclick="DePop.PopUnplace()">...</button>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group span12">
                                    <label class="control-label">Số Master AWB :</label>
                                    <div class="controls">
                                        <input style="width:350px" type="text" class="span8" id="txtmasterAwbNo" name="txtmasterAwbNo" maxlength="17" onkeyup="$('#txtmasterAwbNo').val(Decla.ConvertVietNamese($('#txtmasterAwbNo').val()));" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Tổng trọng lượng hàng (Gross): </label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfweigUnitCdGrs" name="hdfweigUnitCdGrs" class="span3" />
                                        <input type="number" min="0" id="txtcargoWeigGrs" name="txtcargoWeigGrs" class="span10" maxlength="10" />
                                        <span>Kiện</span>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Ngày hàng đến: <span class="error">(*)</span></label>
                                    <div class="controls" style="position:relative;">
                                        <input style="width:350px" type="text" id="txtarrDate" name="txtarrDate" class="span5 dDate" required />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Địa điểm xếp hàng:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="hdfloadLocCd" name="hdfloadLocCd" class="span6" />
                                        <input type="text" id="txtloadLocCd" name="txtloadLocCd" class="span3" disabled="disabled" />
                                        <input type="text" id="txtloadLocNm" name="txtloadLocNm" class="span7" onclick="DePop.PopPlace()" autocomplete="off" required />
                                        <button type="button" style="padding: 0 10px" onclick="DePop.PopPlace()">...</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group span12">
                                    <label class="control-label">Trị giá hóa đơn:</label>
                                    <div class="controls">
                                        <div class="span11">
                                            <select id="slinvPrcKindCd" name="slinvPrcKindCd" class="span3" style="width:167px" required>
                                                <option value="">--Chọn giá trị--</option>
                                            </select>
                                            <span> - </span>
                                            <select id="slinvPrcCdtCd" name="slinvPrcCdtCd" class="span3" style="width:167px" required>
                                                <option value="">--Chọn--</option>
                                            </select>
                                            <span> - </span>
                                            <select id="slinvCurCd" name="slinvCurCd" class="span3" style="width:167px" required>
                                                <option value="">--Đồng tiền--</option>
                                            </select>
                                            <span> - </span>
                                            <input type="number" min="0" class="span12" id="txttotalInvPrc" name="txttotalInvPrc" required maxlength="20" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phí vận chuyển:</label>
                                    <div class="controls">
                                        <div class="span11">
                                            <select id="slfreightDemarCd" name="slfreightDemarCd" class="span3" style="width:167px">
                                                <option value="">--Chọn giá trị--</option>
                                            </select>
                                            <span> - </span>
                                            <select id="slfreightCurCd" name="slfreightCurCd" class="span3" style="width:167px">
                                                <option value="">--Đồng tiền--</option>
                                            </select>
                                            <span> - </span>
                                            <input type="number" min="0" class="span12" id="txtfreight" name="txtfreight" style="max-width:530px; width:530px" maxlength="18" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phí bảo hiểm:</label>
                                    <div class="controls">
                                        <div class="span11">
                                            <select id="slinsDemarCd" name="slinsDemarCd" class="span3" style="width:167px">
                                                <option value="">--Chọn giá trị--</option>
                                            </select>
                                            <span> - </span>
                                            <select id="slinsCurCd" name="slinsCurCd" class="span3" style="width:167px">
                                                <option value="">--Đồng tiền--</option>
                                            </select>
                                            <span> - </span>
                                            <input type="number" min="0" class="span12" id="txtinsAmt" name="txtinsAmt" style="max-width:530px; width:530px" maxlength="16" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mô tả hàng hóa: <span class="error">(*)</span></label>
                                    <div class="controls">
                                        @*<input id="txtitemName" name="txtitemName" class="span11" required maxlength="200">*@
                                        <textarea id="txtitemName" name="txtitemName" class="form-control span11" required maxlength="200" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Mã nước xuất xứ:<span class="error">(*)</span></label>
                                    <div class="controls">
                                        <input type="hidden" id="placeOriginCd" name="placeOriginCd" class="span3" value="" />
                                        <input type="text" id="txtplaceOriginCd" name="txtplaceOriginCd" class="span3" disabled="disabled" />
                                        <input type="text" id="txtcountryNm" name="txtcountryNm" class="span7" onclick="DePop.PopCountryGTT(2)" autocomplete="off" />
                                        <button type="button" style="padding: 0 10px" onclick="DePop.PopCountryGTT(2)">...</button>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Trị giá tính thuế :</label>
                                    <div class="controls">
                                        <input style="width:350px" type="number" min="0" maxlength="20" class="span8" id="txtcstValue" name="txtcstValue" />
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Phần ghi chú:</label>
                                    <div class="controls">
                                        <textarea id="txtnotes" name="txtnotes" class="span11" maxlength="100"></textarea>
                                    </div>
                                </div>
                                <div class="control-group span12">
                                    <label class="control-label">Số QL nội bộ của DN :</label>
                                    <div class="controls">
                                        <input style="width:350px" type="text" class="span8" id="txteiControlNo" name="txteiControlNo" maxlength="27" onkeyup="$('#txteiControlNo').val(hq.ConvertVietNamese($('#txteiControlNo').val()));" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12">
            <div class="form-actions" style="text-align: center;">
                <button type="submit" class="btn btn-success" id="btnSaveDeclaration" style="display:none"></button>
                <a class="btn btn-success" href="@Url.Action("LowValueDeInsert","Declaration", new { IdDec = ViewBag.IdDec})&ishight=1">CẬP NHẬT TỜ KHAI</a>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $("#form-input-file").validate({
            rules: {
                slclsOrg: "required",
                txtcstOfficeNm: "required",
                txtcargoNo: "required",
                txtcargoPiece: "required",
                txtcstWrhCd_text: "required",
                txtloadVesselAcNm: "required",
                txtunloadPortNm: "required",
                txtcargoWeigGrs: "required",
                txtarrDate: "required",
                txtloadLocNm: "required",
                txtitemName: "required",
                txtcountryCd_text: "required",
                txtpieceUnitCd_text: "required",
                txtweigUnitCdGrs: "required",
                txtphoneNoOfImp: "required",
                slinvPrcKindCd: "required",
                slinvPrcCdtCd: "required",
                slinvCurCd: "required",
                txttotalInvPrc: "required",
            },
            messages: {
                slclsOrg: "",
                txtcstOfficeNm: "",
                txtcargoNo: "",
                txtcargoPiece: "",
                txtcstWrhCd_text: "",
                txtloadVesselAcNm: "",
                txtunloadPortNm: "",
                txtcargoWeigGrs: "",
                txtarrDate: "",
                txtloadLocNm: "",
                txtitemName: "",
                txtcountryCd_text: "",
                txtpieceUnitCd_text: "",
                txtweigUnitCdGrs: "",
                txtphoneNoOfImp: "",
                slinvPrcKindCd: "",
                slinvPrcCdtCd: "",
                slinvCurCd: "",
                txttotalInvPrc: ""
            },
            submitHandler: function (form) {

                if (@ViewBag.IdDec != 0) {
                    Decla.UpdateLowDeclaration();
                }
                else {
                    Decla.InsertLowDeclarationLow();
                }
            }
        });

        var today = new Date();
        $('.dDate').datetimepicker({
            showTodayButton: false,
            format: 'MM/DD/YYYY',
            minDate: today
        })

        // Phân loại cá nhân tổ chức
        Select.getOrganizationType();
        //Mã bộ phận xử lý tờ khai
        Select.getDepartment();
        //Trị giá hóa đơn
        Select.getinvPrcKindCd();
        Select.getInvoiceValueCondition();
        Select.getCurrency();
        //Phí vận chuyển
        Select.GetTransportFeeCodes();
        //Phí bảo hiểm
        Select.getInsuranceFeeCode();

        if (@ViewBag.IdDec != 0) {
            Decla.GetDetailLowDeclartion(@ViewBag.IdDec);
        }

        var a = $("li[class='treeview act']");
        if (a.length > 1) {
            a[1].removeAttribute("class", "act");
        }

        Account.GetAccountInfo(1);
    })
</script>

